*{
    box-sizing: border-box;
    color: white;
    margin-right:20px;
    margin-left:20px;
    margin-top:0px;
    margin-bottom: 0px;
}

div.header{
    /*background-color:#00001a ;*/
    background: url(img/nieve.png) white;
    background-color:#20242c ;
    padding: 20px;
    text-align: center;
    color:white;
    height: 340px;
}

.header h1{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    margin: 0px;
}

.header h2{
    font-size: 15px;
    font-family: 'Antic Slab', serif;
}

.header img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-top: 10px;
    border: 4px solid white;
}

hr {
    border: 3px dotted #525157;
    border-style: none none dotted; 
    color: #fff; 
}

.col2 {
    /*float: left;
    width: 33.33%;
    background-color: #287892;*/
    /*margin: auto;*/
    margin-top: -95px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #2d3b49;
    width: calc(25% + 10px);
    padding: 100px 10px 10px 10px;
    height: 400px;
}

/* Estilos de la columna 1*/

.column1 {
    float: left;
    width: 37.5%;
    background-color: #20242c;
    /*padding: 10px;*/
    height: 100vh;
    margin: 0px;
}

.column1 h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
}

.column1 h2{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-align: right;
    color: #4270ae;
}

.column1 h3{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    text-align: right;
}
.column1 h4{
    font-family: "Helvetica", sans-serif;
    text-align: right;
    color: darkgray ;
    font-size: 13px;
}

.column1 p{
    font-family: "Helvetica", sans-serif !important;
    text-align: right !important;
    color: white !important;
    font-size: 15px !important;
    padding:0px 5px 0px 0px; 
    line-height : 25px;
}

.column1 ul{
    font-family: "Helvetica", sans-serif;
    text-align: left;
    color: white;
    font-size: 15px;
    padding:0px 5px 0px 0px; 
    line-height : 25px;
}


/* Estilos de la columna 2*/

.column2 {
    float: left;
    width: 25%;
    background-color: #2d3b49;
    /*padding: 10px;*/
    height: 100vh;
    margin: 0px;
}

.first{
    font-family: "Helvetica", sans-serif !important;
    text-align: center !important;
    color: white !important;
    text-transform: none !important;
    font-size: 15px !important;
    margin:0px 15px 0px !important;
    line-height : 25px;
}

.column2 h3{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    text-align: center;
}

.column2 p{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    text-align: center;
    color: #4270ae;
}

.redes{
    display: flex;
    justify-content: center;
    
}

.redes p{
    color:white;
}
.redes2{
    display: flex;
    justify-content: center;
}
.redes2 p{
    color:white;
}


/* Estilos de la columna 3 */

.column3 {
    float: left;
    width: 37.5%;
    background-color: #20242c;
    /*padding: 10px;*/
    height: 100vh;
    margin: 0px;
}

.column3 h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
}

.column3 h2{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #4270ae;
}

.column3 h3{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    text-align: left;
}
.column3 h4{
    font-family: "Helvetica", sans-serif;
    text-align: left;
    color: darkgray ;
    font-size: 13px;
}

.column3 p{
    font-family: "Helvetica", sans-serif ;
    text-align: left ;
    color: white;
    font-size: 15px;
    padding:0px 5px 0px 0px; 
    line-height : 25px;
}

.column3 ul{
    font-family: "Helvetica", sans-serif;
    text-align: left;
    color: white;
    font-size: 15px;
    padding:0px 5px 0px 0px; 
    line-height : 25px;
}

/*
/* Responsive layout code */
@media screen and (max-width:600px){
    div.column {
        width: 100%;
    }
}

*/





